
<footer class="container-fluid"  style="background-color: rgba(0, 0, 0, 0.836);">
 
        <div class="container d-flex justify-content-center">
          <div class="row">
            <div class="col-sm-4 my-4">
              <a href="https://www.instagram.com/" target="_blank"> <img style="width: 3rem;" src="assets\img\instagram.png" alt="Logo do instagram"> </a>
            </div>
            <div class="col-sm-4 my-4">
              <a href="https://www.linkedin.com" target="_blank"> <img style="width: 3rem;" src="assets\img\linkedin.png" alt="Logo do linkedin"> </a>
            </div>
            <div class="col-sm-4 my-4">
              <a href="https://pt-br.facebook.com/" target="_blank"> <img style="width: 3rem;" src="assets\img\facebook.png" alt="Logo do facebook"> </a> 
            </div>
          </div>
    
        </div>
    
        <div class="container d-flex justify-content-center mt-4">
          <p class="text-white">Todos os direitos reservados: Ricardo &copy;</p>
        </div>
    
      </footer>
 