
<div class="container-fluid" style="background-color: rgba(182, 88, 0, 0.822);">
    
    <div class="container-fluid d-flex justify-content-center  my-5"
        style="background-color: rgba(224, 177, 107, 0.671);">
        <div class="row my-5">
            <div class="col-md-12">
                <h2 style="color: white;">Entre em contato comigo</h2>
            </div>
        </div>
    </div>


    <div class="container">

        <div class="container d-flex justify-content-center">
            <form>
                <label for="nome">Nome:</label><br>
                <input type="text" class="form-control" id="nome">
                <div id="txtNome"></div>
                <br><br>
                <label for="email">Email:</label><br>
                <input type="email" class="form-control" id="email">
                <div id="txtEmail"></div>
                <br><br>
                <label for="assunto">Assunto:</label><br>
                <textarea name="assunto"  class="form-control" id="assunto" cols="60" rows="5"></textarea>
                <div id="txtAssunto"></div>
                <br><br>
                <div class="container d-flex justify-content-center mb-5">
                    <button class="btn btn-primary" >Enviar</button>
                </div>

            </form>
        </div>
 
    </div>
</div>