<div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <a class="navbar-brand" style="color: white;" routerLink="/home">Historia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link active" style="color: white;" aria-current="page" routerLink="/categoria">Categorias</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color: white;" routerLink="" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Civilizações
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="">Suméria</a></li>
                <li><a class="dropdown-item" routerLink="">Egito</a></li>
                <li><a class="dropdown-item" routerLink="">Grécia</a></li>
                
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" style="color: white;" aria-current="page" routerLink="">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" style="color: white;" routerLink="">Sobre nós</a>
            </li>
            
          </ul>
        </div>
      </nav>
    </div>
  </div>