<div class="container-fluid" style="background-color: rgba(182, 88, 0, 0.822);">

  <div class="container-fluid d-flex justify-content-center  mt-5">
    <div class="row mt-5 mb-3">
      <div class="col">
        <h2 style="color: black;margin-top: 50px;">Conheça um pouco sobre a história das civilizações</h2>
      </div>
    </div>
  </div>

  <div class="row mt-5 d-flex justify-content-center ms-5  ">

    <div class="col-md-6 d-flex justify-content-center ms-5">
      <input [(ngModel)]='pesquisa' type="text" class="form-control"
        placeholder="Digite um tema para pesquisar no site">
    </div>

    <div class="col-md-2 d-flex justify-content-start">
      <button class="btn btn-primary" (click)='pesquisar()'>Pesquisar</button>
    </div>

  </div>


  <div *ngFor='let item of listaCategoria' class="row">

    <div class="container-fluid d-flex justify-content-center mt-5"
      style="background-color: rgba(224, 177, 107, 0.671); color: white;">
      <div class="row my-4">
        <div class="col">
          <h2>{{item.descricao}} </h2>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">

        <div class="col-md-5 my-4">
          <img src="{{item.imagem}}" class="w-100rem mt-3" alt="">
        </div>

        <div class="col-md-6 ms-auto">
          <div class="row">
            <div class="col d-flex justify-content-center mt-4">
              <h2>{{item.titulo}}</h2>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-9 d-flex justify-content-end mt-3 ms-auto me-auto">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit eveniet nam, autem dolor error a voluptate accusamus dignissimos delectus optio alias quae nobis nulla fugit minus cum? Exercitationem, cum optio! AAAA Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus sint itaque illum eum, odio nostrum ab fugit placeat saepe omnis mollitia, ea perspiciatis rerum architecto id dolor. Quia, voluptates sint.</p>    
            </div>
          </div>
           
          <div class="row">
            <div class="col d-flex justify-content-center mt-3">
              <button class="btn btn-primary text-white" value="{{item.id}}" (click)='verCategoria($event)'>Saiba mais >></button>
            </div>
          </div>
            
        </div>
      </div>
    </div>

  </div>

</div>