
<div class="container-fluid" style="background-color: rgba(182, 88, 0, 0.822);">

 
  
    <div class="container-fluid d-flex justify-content-center  my-5">
      <div class="row my-5">
        <div class="col">
          <h2 style="color: black;">Conheça um pouco sobre a história das civilizações</h2>
        </div>
      </div>
    </div>

  
    <div class="container-fluid d-flex justify-content-center mt-5"
      style="background-color: rgba(224, 177, 107, 0.671); color: white;">
      <div class="row my-4">
        <div class="col">
          <h2>Como era a vida na Idade da Pedra</h2>
        </div>
      </div>
    </div>
  
    <div class="container-fluid d-flex justify-content-start">
      <div class="row">
  
        <div class="col-sm-6 my-4">
          <img src="https://imgur.com/KdfLmuG.jpg" class="w-100rem mt-3" alt="...">
        </div>
  
        <div class="col-sm-5 m-5">
          <h2>Periodo Paleolitico</h2>
  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>

          <button class="btn btn-primary text-white" routerLink='/tema'>Ler mais >></button>
        </div>
      </div>
    </div>
  
  
    <div class="container-fluid d-flex justify-content-center mt-5"
      style="background-color: rgba(224, 177, 107, 0.671); color: white;">
      <div class="row my-4">
        <div class="col">
          <h2>O dominio da Agricultura e suas Ferramentas </h2>
        </div>
      </div>
    </div>
  
    <div class="container-fluid d-flex justify-content-start">
      <div class="row">
  
        <div class="col-sm-5 m-5">
          <h2>Periodo Neolitico</h2>
  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>

          <button class="btn btn-primary text-white" routerLink='/tema'>Ler mais >></button>
        </div>
  
        <div class="col-sm-6 my-4">
          <img src="https://imgur.com/ZeRzLYS.jpg" class="w-100rem mt-3" alt="...">
        </div>
  
      </div>
    </div>
  
  
  
    <div class="container-fluid d-flex justify-content-center mt-5"
      style="background-color: rgba(224, 177, 107, 0.671); color: white;">
      <div class="row my-4">
        <div class="col">
          <h2>A Descoberta dos Metais</h2>
        </div>
      </div>
    </div>
  
    <div class="container-fluid d-flex justify-content-start">
      <div class="row">
  
        <div class="col-sm-6 my-4">
          <img src="https://imgur.com/jWtW94g.jpg" width="650px" height="280px"  class=" mt-3" alt="...">
        </div>
  
        <div class="col-sm-5 m-5">
          <h2>Idade dos Metais</h2>
  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>

          <button class="btn btn-primary text-white" routerLink='/tema'>Ler mais >></button>
        </div>
      </div>
    </div>
  
  
  
    <div class="container-fluid d-flex justify-content-center mt-5"
      style="background-color: rgba(224, 177, 107, 0.671); color: white;">
      <div class="row my-4">
        <div class="col">
          <h2>A Escrita e o Periodo Antigo</h2>
        </div>
      </div>
    </div>
  
    <div class="container-fluid d-flex justify-content-start">
      <div class="row">
   
        <div class="col-sm-5 m-5">
          <h2>Idade Antiga</h2>
  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>

          <button class="btn btn-primary text-white" routerLink='/tema'>Ler mais >></button>
        </div>
  
        <div class="col-sm-6 my-4">
          <img src="https://imgur.com/9gHvL4y.jpg" width="600px" class="w-100rem mt-3" alt="...">
        </div>
  
      </div>
    </div>
  
  
  
    <div class="container-fluid d-flex justify-content-center mt-5"
      style="background-color: rgba(224, 177, 107, 0.671); color: white;">
      <div class="row my-4">
        <div class="col">
          <h2>A Era Medieval</h2>
        </div>
      </div>
    </div>
  
    <div class="container-fluid d-flex justify-content-start">
      <div class="row">
  
        <div class="col-sm-6 my-4">
          <img src="https://imgur.com/MCcp8cs.jpg" width="600px" class="w-100rem mt-3" alt="...">
        </div>
  
        <div class="col-sm-5 m-5">
          <h2>Idade Media</h2>
  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>

          <button class="btn btn-primary text-white" routerLink='/tema'>Ler mais >></button>
        </div>
      </div>
    </div>
  
  
  
    <div class="container-fluid d-flex justify-content-center mt-5"
      style="background-color: rgba(224, 177, 107, 0.671); color: white;">
      <div class="row my-4">
        <div class="col">
          <h2>As Grandes Navegações e o Novo mundo</h2>
        </div>
      </div>
    </div>
  
    <div class="container-fluid d-flex justify-content-start">
      <div class="row">
   
        <div class="col-sm-5 m-5">
          <h2>Idade Moderna</h2>
  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>

          <button class="btn btn-primary text-white" routerLink='/tema'>Ler mais >></button>
        </div>
  
        <div class="col-sm-6 my-4">
          <img src="https://imgur.com/Ei2Lw4i.jpg" width="600px" class="w-100rem mt-3" alt="...">
        </div>
  
      </div>
    </div>
  
  
  
    <div class="container-fluid d-flex justify-content-center mt-5"
      style="background-color: rgba(224, 177, 107, 0.671); color: white;">
      <div class="row my-4">
        <div class="col">
          <h2>As Industrias e o Mundo atual</h2>
        </div>
      </div>
    </div>
  
    <div class="container-fluid d-flex justify-content-start">
      <div class="row">
  
        <div class="col-sm-6 my-4">
          <img src="https://imgur.com/uSJ1BVu.jpg" width="600px" class="w-100rem mt-3" alt="...">
        </div>
  
        <div class="col-sm-5 m-5">
          <h2>Idade Contemporânea</h2>
  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
            commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
          </p>

          <button class="btn btn-primary text-white" routerLink='/tema'>Ler mais >></button>
        </div>
      </div>
    </div>
 
</div>