
<div class="container-fluid" style="background-color: rgba(182, 88, 0, 0.822);">
    <div class="container-fluid d-flex justify-content-center  my-4"
    style="background-color: rgba(224, 177, 107, 0.671);">
    <div class="row my-5">
      <div class="col" style="color: white;text-align: center;">
        <h1>Suméria</h1>
        <h5>A primeira grande civilização da humanidade</h5>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-start align-items-center mb-3">
      <button class="btn btn-primary" routerLink='/tema'> Voltar </button>
  </div>


      <div class="container-fluid" style="background-color: rgba(224, 177, 107, 0.671);">
        <div class="row">
    
          <div class="col-md-6 d-flex justify-content-start">
            <img src="https://imgur.com/Zfjg0J5.jpg" width="600px" class="w-100rem m-3" alt="...">
          </div>
    
          <div class="col-md-5 m-5">
            <h2>Cidade de Ur</h2>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
          </div>
        </div>
      </div>

      <div class="container-fluid" style="background-color: rgba(224, 177, 107, 0.671);margin-top: 50px;">
        <div class="row">
    
          <div class="col-md-6 d-flex justify-content-start">
            <img src="https://imgur.com/KSL8NSN.jpg" width="600px" height="400px" class="w-100rem m-3" alt="...">
          </div>
    
          <div class="col-md-5 m-5">
            <h2>Zigurate</h2>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
          </div>
        </div>
      </div>

      <div class="container-fluid" style="background-color: rgba(224, 177, 107, 0.671);margin-top: 50px;">
        <div class="row">
    
          <div class="col-md-6 d-flex justify-content-start">
            <img src="https://imgur.com/08nqFbG.jpg" width="600px" height="450px" class="w-100rem m-3" alt="...">
          </div>
    
          <div class="col-md-5 m-5">
            <h2>Região da Mesopotâmia</h2>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
          </div>
        </div>
      </div>

      <div class="container-fluid" style="background-color: rgba(224, 177, 107, 0.671);margin-top: 50px;">
        <div class="row">
    
          <div class="col-md-6 d-flex justify-content-start">
            <img src="https://imgur.com/pmDMoA8.jpg" width="600px"class="w-100rem m-3" alt="...">
          </div>
    
          <div class="col-md-5 m-5">
            <h2>Alfabeto Sumério</h2>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
          </div>
        </div>
      </div>

      <div class="container-fluid" style="background-color: rgba(224, 177, 107, 0.671);margin-top: 50px;">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center" style="padding: 40px;">
            <iframe width="860" height="515" src="https://www.youtube.com/embed/nqDpGMuVuPs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>  
        </div>
      </div>

</div>