
<div class="container-fluid" style="background-color: rgba(182, 88, 0, 0.822);">
    <div class="container-fluid d-flex justify-content-center  my-4"
    style="background-color: rgba(224, 177, 107, 0.671);">
    <div class="row my-5">
      <div class="col" style="color: white;text-align: center;">
        <h1>Suméria</h1>
        <h5>A primeira grande civilização da humanidade</h5>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-start align-items-center mb-3">
      <button class="btn btn-primary" (click)='verTemas()'> Voltar </button>
  </div>


      <div class="container-fluid" style="background-color: rgba(224, 177, 107, 0.671);">
        <div *ngFor='let item of listaPostagem' class="row">
    
          <div class="col-md-6 d-flex justify-content-start">
            <img src="{{item.imagem}}" width="600px" class="w-100rem m-3" alt="">
          </div>
    
          <div class="col-md-5 m-5">
            <h2>{{item.titulo}}</h2>
    
            <p>{{item.texto}}
            </p>
            
          </div>
        </div>
      </div>
  

</div>