
<div class="container-fluid" style="background-color: rgba(182, 88, 0, 0.822);">

    <div class="container-fluid d-flex justify-content-center  mt-5">
        <div class="row my-5">
          <div class="col-md-12 mt-3">
            <h2 style="color: black;">Sobre o site e sua criação</h2>
          </div>
        </div>
      </div>
    
    
    
      <div class="container " >
        <div class="row mt-3">
          <div class="col-md-12 d-flex justify-content-center" style="margin-bottom: 200px;" >
            <p style="font-size: 20px; background-color: rgba(224, 177, 107, 0.671);padding: 50px;"> Esse site foi desenvolvido com o intuido de despertar a curiosidade sobre a história da humanidade, 
              desde os tempos mais antigos até os dias atuais. Com o conhecimento sobre nosso passado, podemos entender alguns dos acontecimentos 
              que houveram durante a história e de entender até onde podemos chegar.</p>
            
          </div>
        </div>
 
        </div>
</div>


