 <div class="container-fluid" style="background-color: rgba(182, 88, 0, 0.822);">


      <div class="container-fluid d-flex justify-content-center  mt-5">
        <div class="row my-5">
          <div class="col">
            <h2 style="color: white;">Veja as Maiores Construções da Antiguidade</h2>
          </div>
        </div>
      </div>
    
    
      <div class="container-fluid" style="background-color: rgba(224, 177, 107, 0.671);">
        <div class="row">
    
          <div class="col-sm-6 d-flex justify-content-start">
            <img src="assets\img\constStonehenge.jpg" width="600px" class="w-100rem m-3" alt="...">
          </div>
    
          <div class="col-sm-5 m-5">
            <h2>Stonehenge</h2>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
          </div>
        </div>
      </div>
    
      <div class="container-fluid" style="background-color: rgba(224, 177, 107, 0.671);margin-top: 50px;">
        <div class="row">
    
          <div class="col-sm-6 d-flex justify-content-start">
            <img src="assets\img\constZigurate.jpg" width="600px" height="400px" class="w-100rem m-3" alt="...">
          </div>
    
          <div class="col-sm-5 m-5">
            <h2>Zigurate</h2>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
          </div>
        </div>
      </div>
    
      <div class="container-fluid" style="background-color: rgba(224, 177, 107, 0.671);margin-top: 50px;">
        <div class="row">
    
          <div class="col-sm-6 d-flex justify-content-start">
            <img src="assets\img\constParthenon.jpg" width="600px" height="450px" class="w-100rem m-3" alt="...">
          </div>
    
          <div class="col-sm-5 m-5">
            <h2>Parthenon</h2>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
          </div>
        </div>
      </div>
    
      <div class="container-fluid" style="background-color: rgba(224, 177, 107, 0.671);margin-top: 50px;">
        <div class="row">
    
          <div class="col-sm-6 d-flex justify-content-start">
            <img src="assets\img\constEsfinge.jpg" width="600px" height="400px" class="w-100rem m-3" alt="...">
          </div>
    
          <div class="col-sm-5 m-5">
            <h2>A grande Esfinge</h2>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio rem neque minus ratione, saepe eos
              commodi tenetur voluptate fuga optio sed hic repellat omnis, laboriosam delectus recusandae id deleniti.
            </p>
          </div>
        </div>
      </div>
    
      
    
    
    
      <div class="container-fluid d-flex justify-content-center mt-3">
        <div class="row my-5">
          <div class="col">
            <h2 style="color: white;">Conheça um pouco sobre os Antigos Guerreiros</h2>
          </div>
        </div>
      </div>
    
    
      <div class="container-fluid d-flex justify-content-center" style="background-color: rgba(224, 177, 107, 0.671);">
        <iframe width="600" height="400" style="margin: 15px;" src="https://www.youtube.com/embed/1kB-3Hr5N8o" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
       

 </div>

