 <div class="container-fluid mt-5" style="background-color: rgba(182, 88, 0, 0.822);">


     <div class="container">

      <div class="row">
        <div class="col-md-3 d-flex justify-content-end">
          <h3 style="margin-top: 50px;">Pesquisar: </h3>
        </div>

        <div class="col-md-8" style="margin-top: 50px;">
          <input type="text" class="form-control">
        </div>

      </div>


         <div class="row">
           <div class="col-sm-4">
             <div class="card " style="width: 18rem;margin-top: 100px;">
               <img src="https://imgur.com/KdfLmuG.jpg"  style="width:285px; height:180px;" class="card-img-top" alt="">
               <div class="card-body">
                 <h5 class="card-title text-center">Periodo Paleolitico</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                   content.</p>
                 <a routerLink="/tema" class="btn btn-outline-primary d-flex justify-content-center">Visualizar</a>
               </div>
             </div>
           </div>
     
     
           <div class="col-sm-4">
             <div class="card" style="width: 18rem;margin-top: 100px;">
               <img src="https://imgur.com/ZeRzLYS.jpg"  style="width:285px; height:180px;" class="card-img-top" alt="">
               <div class="card-body">
                 <h5 class="card-title text-center">Periodo Neolitico</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                   content.</p>
                 <a routerLink="/tema" class="btn btn-outline-primary d-flex justify-content-center">Visualizar</a>
               </div>
             </div>
           </div>
     
           <div class="col-sm-4">
             <div class="card" style="width: 18rem;margin-top: 100px;">
               <img src="https://imgur.com/jWtW94g.jpg"  style="width:285px; height:180px;" class="card-img-top" alt="">
               <div class="card-body">
                 <h5 class="card-title text-center">Idade dos Metais</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                   content.</p>
                 <a routerLink="/tema" class="btn btn-outline-primary d-flex justify-content-center">Visualizar</a>
               </div>
             </div>
           </div>
         </div>
     
     
     
     
         <div class="row mt-5">
           <div class="col-sm-4">
             <div class="card" style="width: 18rem;margin-bottom: 100px;">
               <img src="https://imgur.com/9gHvL4y.jpg"  style="width:285px; height:180px;" class="card-img-top" alt="">
               <div class="card-body">
                 <h5 class="card-title text-center"> Idade Antiga</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                   content.</p>
                 <a routerLink="/tema" class="btn btn-outline-primary d-flex justify-content-center">Visualizar</a>
               </div>
             </div>
           </div>
     
     
           <div class="col-sm-4">
             <div class="card" style="width: 18rem;margin-bottom: 100px;">
               <img src="https://imgur.com/MCcp8cs.jpg"   style="width:285px; height:180px;" class="card-img-top" alt="">
               <div class="card-body">
                 <h5 class="card-title text-center">Idade Média</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                   content.</p>
                 <a routerLink="/tema" class="btn btn-outline-primary d-flex justify-content-center">Visualizar</a>
               </div>
             </div>
           </div>
     
           <div class="col-sm-4">
             <div class="card" style="width: 18rem;margin-bottom: 100px;">
               <img src="https://imgur.com/Ei2Lw4i.jpg"   style="width:285px; height:180px;" class="card-img-top" alt="">
               <div class="card-body">
                 <h5 class="card-title text-center">Idade Moderna</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                   content.</p>
                 <a routerLink="/tema" class="btn btn-outline-primary d-flex justify-content-center">Visualizar</a>
               </div>
             </div>
           </div>
         </div>

         <div class="row">
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;margin-bottom: 100px;">
              <img src="https://imgur.com/uSJ1BVu.jpg"  style="width:285px; height:180px;" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title text-center"> Idade Contemporânea</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a routerLink="/tema" class="btn btn-outline-primary d-flex justify-content-center">Visualizar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
       

 </div>

