 <div class="container-fluid mt-5" style="background-color: rgba(182, 88, 0, 0.822);">


     <div class="container">
  
         <div class="row">
           <div *ngFor='let item of listaCategoria' class="col-md-4 mb-4">
             <div  class="card " style="width: 18rem;margin-top: 100px;">
               <img src="{{item.imagem}}"  style="width:285px; height:180px;" class="card-img-top" alt="">
               <div class="card-body">
                 <h5 class="card-title text-center">{{item.titulo}}</h5>
                 <p class="card-text text-center">{{item.descricao}}</p>
                 <a routerLink="/tema" class="btn btn-outline-primary d-flex justify-content-center">Visualizar</a>
               </div>
             </div>
           </div>
      
         </div>
   
 
      </div>
       

 </div>

